@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap'); /*codigo da fonte Montserrat*/


/*variaveis*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal:'Montserrat', sans-serif;
    --cor-instagram: #9a0b89;
    --cor-hover: #180344
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

/*zera as margens para incluir só quando necessário*/
*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("/Images/IMG.png"); /*incerir imagem de fundo*/
    background-repeat: no-repeat; /* não repetir a imagem de fundo*/
    background-size: contain; /*pega toda area da class onde esta declarada*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-column: 2;
    grid-template-columns: [dados]50% [anuncio]50%;
    margin: 2px 0rem 0 0rem;

}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none;
    margin-bottom: 1em; 
}

.container__botao2 {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    width: 95%;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none;
    margin: 1em 0 0 0;

}

.container__botao2:hover {
    background-color: var(--cor-hover);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none;

}

.container__botao:hover {
    background-color: var(--cor-hover);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none;

}


.container__botao__secundario {
    background-color: var(--cor-instagram);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none;
    margin-bottom: 1em; 



}

.container__botao__secundario:hover {
    background-color: var(--cor-hover);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none; 
    margin: 1em;


}

.botao__voltar {
    background-color: var(--cor-hover);
    border-radius: 5px;
    padding: 1em;
    width: 5rem;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none; 
    margin: 1em;
    align-items: center;
    text-align: center;

}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;

}

.container__caixa {
    margin: 0 9em;
    align-items: center;
}

.anuncio__centro {
    align-items: center;
    background-color: #167bf7;
    width: 100%;
}


   h1{
        text-align: center;
        }
    h2{
            text-align: center;
            color: green;
            margin: 30px 0 0 0;
            }
        
    table, th, td {
        border: 1px solid black;
        }
        
    table {
        border-collapse: collapse;
        margin: auto;
        }
        
    th, td{
        padding: 10px;
        text-align: center;
        width: 250px;
        }
        
    th{
        font-weight: bold;
        }
        
        
    tr:nth-child(even) {
        background-color: #333333;
        }
        
    tr:hover:nth-child(1n + 2) {
        background-color: #085F63;
        color: #fff;
        }

.alinhar_tabela {
    align-items:flex-start;
}

.coluna_2 {
    columns:[anuncio];
    margin: 2 0 0 2rem;
    background-color: #c0c0c0;
    align-items: center;
    text-align: center;
}















/*mobile*/

@media (max-width: 700px) {

.body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url("/Images/IMGm.png"); /*incerir imagem de fundo*/
    background-repeat: no-repeat; /* não repetir a imagem de fundo*/
    background-size: contain; /*pega toda area da class onde esta declarada*/

}
.container {
    height: 100vh;
    display: block;
    align-items: center;
    text-align: center;
    margin: 0;

}
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    width: 95%;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none;
    margin: 15em 0 0 0;

}

.container__botao2 {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    width: 95%;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none;
    margin: 1em 0 0 0;

}

.container__botao__secundario {
    background-color: var(--cor-instagram);
    border-radius: 5px;
    padding: 1em;
    width: 95%;
    color: var(--branco-principal);
    display: block; /*PARA OCUPAR TODO O LOCAL ONDE A CLASS ESTA CHAMADA*/
    text-decoration: none; 
    margin: 2em 0 0 0; 

}

.container__titulo {
    font-size: 1rem;
    font-weight: 700;
    margin: 2rem 1rem 0 1rem ;

}

.container__imagem {
width: 90%;

}

.container__caixa {
    margin: 0 0em;
}



}
